html,
body {
    margin:0;
    padding:0;
    height:100%;
}

#body_container {
    min-height:100%;
    position:relative;
}

main#body {
    padding:10px;
    padding-bottom: 170px;   /* Height of the footer */
}

.main-action{
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 18px
}

.stroke{
    text-decoration: line-through !important;
}

a.text-success, a.text-success:focus, a.text-success:hover {
    color: #2b542c !important;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer#main-footer {
    background: #023d74;
    padding: 30px 0 10px 0;
    color: #e6e6e6;
    margin-top: 30px;
    font-size: 11px;
    line-height: 1.4em;

    position:absolute;
    width:100%;
    height:136px;   /* Height of the footer */

    /*position: absolute;*/
    bottom: 0;
    right: 0;
    left: 0;
}

.list-group-item:hover{
    background-color: aliceblue;
}

#navbar-logo {
    width: 71px;
    margin-top: 6px;
    height: 80%;
    background: url(/assets/images/logo.png) no-repeat center;
    background-size: contain !important;
}

.selectize-dropdown {
    max-height: 100px;
    overflow-y: auto;
}

.publish_status
{
    display: inline-block;
    margin-right: 10px;
}

.content_name
{
    display: inline;
}