{% extends 'base_error.html.twig' %}
{% trans_default_domain "app" %}

{% block error %}
    {% trans %} error.404 {% endtrans %}
{% endblock %}

{% block error_message %}
    {% trans %} error.404_msg {% endtrans %}
{% endblock %}
