{% extends 'base_error.html.twig' %}
{% trans_default_domain "app" %}

{% block error %}
    {% trans %} error.403 {% endtrans %}
{% endblock %}

{% block error_message %}
    {% trans %} error.403_msg {% endtrans %}
{% endblock %}
