{% extends 'base_details.html.twig' %}
{% trans_default_domain "app"%}
{% set section = entity.pageType.code %}

{% block body %}

    <div class="container">
        {% include ":admin/common:partial.language_tabs.html.twig" %}
        <br>

        <form action=""  method="post" id="form" class="form-horizontal">

            <input type="hidden" name="_csrf_token" value="{{ csrf_token(token) }}">
            <div class="row">
                <div class="col-xs-12">
                    <input name="publish" {{ entity.published ? "checked" : "" }} data-size="small" data-onstyle="success" data-offstyle="danger" type="checkbox" data-toggle="toggle" data-on="{{ "publish"|trans }}" data-off="{{ "unpublish"|trans }}">
                </div>
            </div>
            <div class="row">
                <br>
                <div class="col-xs-6">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label class="control-label" for="name">{% trans %}form.title{% endtrans %}</label>
                            <input id="name" class="form-control" type="text" data-class="content_name">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    {% if entity.pageType.useCategories %}
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="categories">{% trans %}categories{% endtrans %}</label>
                            <input type="text" id="categories" name="categories" class="selectized" value="{{ entity.categoryListId|join(',') }}">
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <br>
                    <label for="description">{% trans %}form.content{% endtrans %}</label>
                    <textarea id="description" class="form-control" cols="30" rows="10" data-class="content_description"></textarea>
                    <p class="help-block">{% trans %} form.markdown_help{% endtrans %}</p>
                </div>
                <div class="col-xs-12">
                    <hr>
                    <label for="note">{% trans %}form.note{% endtrans %}</label>
                    <textarea id="note" class="form-control" cols="30" rows="10" data-class="content_note"></textarea>
                    <p class="help-block">{% trans %}input.not_required{% endtrans %}. -- {% trans %} form.markdown_help{% endtrans %}</p>
                </div>
            </div>

            <div class="row">
                <br>
                <div class="col-xs-12">
                    <button class="btn btn-default" data-class="submit_click" type="submit">{{ "Guardar"|trans }}</button>
                    <a href="{{ path("admin_infopage_list", {"pageType": entity.pageType.code}) }}" class="btn btn-default">{% trans %}Cancelar{% endtrans %}</a>
                </div>
            </div>

            <div data-class="iter_data_submit">
                <input type="hidden" data-class="post_data_name content_name">
                <input type="hidden" data-class="post_data_description content_description">
                <input type="hidden" data-class="post_data_note content_note">
            </div>
        </form>

    </div>

    <script>
        $().ready(function () {
            function ViewModel() {
                var self = this;
                this.default_lang = {{ default_locale|json_encode|raw }};
                this.current = ko.observable(this.default_lang);

                this.locales = {{ locales|json_encode|raw }};
                this.has_translation = function (item) {
                    return _post_data[item];
                };

                this.name = ko.observable("");
                this.placeholder_name = ko.observable("");

                this.description = ko.observable("");
                this.placeholder_description = ko.observable("");

                this.note = ko.observable("");

                this.post_data = ko.observable([]);
                var _post_data = {{ form_data.translations|json_encode|raw }};

                this.get_name = function (data, field) {
                    return "translations[" + data.lang + "][" + field + "]";
                };

                this.set_default = function (data) {
                    return data == self.default_lang ? data+"*" : data;
                };

                var set_data = function() {
                    _post_data[self.current()] = {
                        lang: self.current(),
                        name: self.name(),
                        description: self.description(),
                        note: self.note()
                    };
                };

                var get_data = function() {
                    self.name(_post_data[self.current()] ? _post_data[self.current()]["name"] : "");
                    self.placeholder_name(_post_data[self.default_lang] ? _post_data[self.default_lang]["name"] : "");

                    self.description(_post_data[self.current()] ? _post_data[self.current()]["description"] : "");
                    self.placeholder_description(_post_data[self.default_lang] ? _post_data[self.default_lang]["description"] : "");

                    self.note(_post_data[self.current()] ? _post_data[self.current()]["note"] : "");
                };

                this.select_lang = function(item){
                    set_data();

                    self.current(item);

                    get_data()
                };

                this.submit = function (event) {
                    set_data();

                    var data = [];
                    var objs = Object.values(_post_data);
                    for (var i = 0; i < objs.length; i++)
                    {
                        if (objs[i].lang)
                        {
                            data.push(objs[i]);
                        }
                    }

                    self.post_data(data);

                    return true;
                };

                get_data();
            }

            var bindings = {
                active_lang: function(context) {
                    return { css: {active: context.$root.current() == context.$data} };
                },
                //this is an example of a binding tht is shared across scopes and fields
                select_lang_action: function(context) {
                    return { "click": context.$root.select_lang.bind(context.$data) };
                },
                iter_lang: function() {
                    return { foreach: this.locales };
                },
                lang_status: function(context) {
                    return { css: {'text-success': context.$data == context.$root.default_lang} };
                },
                lang_text: function(context) {
                    return { text: context.$root.set_default(context.$data) };
                },
                content_name: function() {
                    return { value: this.name };
                },
                content_description: function() {
                    return {value: this.description};
                },
                content_note: function() {
                    return {value: this.note};
                },
                post_data_name: function(context) {
                    return { attr: {name: context.$root.get_name(context.$data, 'name')} };
                },
                post_data_description: function(context) {
                    return { attr: {name: context.$root.get_name(context.$data, 'description')} };
                },
                post_data_note: function(context) {
                    return { attr: {name: context.$root.get_name(context.$data, 'note')} };
                },
                iter_data_submit: function() {
                    return { foreach: this.post_data };
                },
                submit_click: function() {
                    return { click: this.submit };
                }
            };

            ko.bindingProvider.instance = new ko.classBindingProvider(bindings);

            ko.applyBindings(new ViewModel());

            $('#categories').selectize({
                plugins: ['restore_on_backspace', 'remove_button'],
                delimiter: ',',
                persist: false,
                maxItems: 3,
                valueField: 'id',
                labelField: 'name',
                searchField: ['name'],
                options: {{ form_data.categories | json_encode | raw }}
            });
        });

    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/selectize/selectize.min.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/js/selectize.min.js') }}"></script>
{% endblock %}