{% extends 'base.html.twig' %}
{% trans_default_domain "app" %}

{% block stylesheets %}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
{% endblock %}

{% block javascripts %}
    <script type='text/javascript' src='{{ asset("assets/js/knockout.js") }}'></script>
    <script type='text/javascript' src='{{ asset("assets/js/knockout-classBindingProvider.min.js") }}'></script>
{% endblock %}
