<!DOCTYPE html>
{% trans_default_domain "app" %}
<html>
<head>
    <meta charset="UTF-8" />
    <title>Admin | {% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap-theme.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/styles.css') }}" />
</head>
<body>
    <div id="body_container">

        <div id="body">
            <h1 class="text-center" style="font-size: 9em; font-weight: bolder">{% block error %}{% endblock %}</h1>
            <h1 class="text-center">{% block error_message %}{% endblock %}</h1>
        </div>

        <footer id="main-footer">
            <div class="container">
                <div class="row row-wrap">
                    <div class="col-md-3">
                        <a class="logo" href="{{ path("homepage") }}">
                            <img src="{{ asset("assets/images/logo-invert.png") }}" alt="Image Alternative text" title="Image Title">
                        </a>
                        <p class="mb20">{% trans %}footer.vision{% endtrans %}</p>
                    </div>
                </div>
                <div class="row row-wrap text-right">
                    <p class="mt5">
                        <small>{% trans %}footer.made{% endtrans %} <i class="glyphicon glyphicon-heart"></i> {% trans %} footer.by {% endtrans %}
                            <a id="madeBy" href="http://www.tourpourtous.com" target="_blank" style="color: #ef9602;"> Tour pour Tous</a>
                        </small>
                    </p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
