<!DOCTYPE html>
{% trans_default_domain "app" %}
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="{% trans %}mensaje.inicio{% endtrans %}">
    <meta name="author" content="Ernesto Baez (ebaezf@gmail.com)">
    <meta name="keywords" content="TourpourTous, administration, travelers, travel, Cuba, bed and breakfast, casa particular">
    <meta name="robots" content="INDEX,FOLLOW">

    <meta property="og:title" content="TourpourTous.com | {% trans %}mensaje.inicio{% endtrans %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ path('homepage') }}">
    <meta property="og:image" content="https://admin.tourpourtous.com/assets/images/logo.png">
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">
    {#<meta property="fb:app_id" content="">#}

    <link rel="alternate" href="{{ path('homepage', {'_locale': 'en'}) }}" hreflang="en">
    <link rel="alternate" href="{{ path('homepage', {'_locale': 'fr'}) }}" hreflang="fr">
    <link rel="alternate" href="{{ path('homepage', {'_locale': 'es'}) }}" hreflang="es">
    <link rel="alternate" href="{{ path('homepage', {'_locale': 'en'}) }}" hreflang="x-default">

    <title>Admin | {% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />

    <script type="application/javascript" src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/js/script.js') }}"></script>
    {% block stylesheets %}{% endblock %}

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap-theme.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/styles.css') }}" />
</head>
<body>
    <div id="body_container">
        <header>
            {% include ':partial:nav_bar.html.twig' %}
        </header>

        <main id="body">
            <section class="container">
                {% if section is defined %}
                    <h1>{{ section | trans }}</h1>
                {% endif %}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message | trans({}, "messages") }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('warn') %}
                    <div class="alert alert-warning">
                        {{ message | trans({}, "messages") }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ message | trans({}, "messages") }}
                    </div>
                {% endfor %}
            </section>

            {% block body %}{% endblock %}
        </main>

        <footer id="main-footer">
            <div class="container">
                <div class="row row-wrap">
                    <div class="col-md-3">
                        <a class="logo" href="{{ path("homepage") }}">
                            <img src="{{ asset("assets/images/logo-invert.png") }}" alt="Image Alternative text" title="Image Title">
                        </a>
                        <p class="mb20">{% trans %}footer.vision{% endtrans %}</p>
                    </div>
                </div>
                <div class="row row-wrap text-right">
                    <p class="mt5">
                        <small>{% trans %}footer.made{% endtrans %} <i class="glyphicon glyphicon-heart"></i> {% trans %} footer.by {% endtrans %}
                            <a id="madeBy" href="http://www.tourpourtous.com" target="_blank" style="color: #ef9602;"> Tour pour Tous</a>
                        </small>
                    </p>
                </div>
            </div>
        </footer>
        {% block javascripts %}{% endblock %}
    </div>
</body>
</html>
