{% extends 'base_details.html.twig' %}
{% trans_default_domain "app" %}
{% set section = entity.pageType.code%}

{% block body %}
    <div class="container">
        {% include ":admin/common:partial.language_tabs.html.twig" %}

        <article>
            <section class="row">
                <br>
                <div class="col-xs-12">
                    {% if entity.pageType.useCategories %}
                        <div data-class="iter_categories" class="text-right">
                            <span class="label label-default" data-class="content_category"></span>
                        </div>
                    {% endif %}
                </div>
            </section>
            <section class="row">
                <div class="col-xs-12">
                    <i class="glyphicon glyphicon-eye-{{ entity.published ? "open" : "close" }} publish_status {{ entity.published ? "text-success" : "text-danger" }}"></i>
                    <h2 class="form-control-static content_name" data-class="content_name"></h2>
                </div>
            </section>
            <div class="row">
                <section class="col-xs-12">
                    <p class="form-control-static" data-class="content_description"></p>
                </section>
                <section class="col-xs-12">
                    <hr>
                    <div class="form-group">
                        <div>
                            <p class="form-control-static" data-class="content_note"></p>
                        </div>
                    </div>
                </section>
            </div>
        </article>

    </div>

    <script>
        $().ready(function () {
            function ViewModel() {
                var self = this;
                this.default_lang = {{ default_locale|json_encode|raw }};
                this.current = ko.observable(this.default_lang);
                this.translations = {{ form_data.translations|json_encode|raw }};
                this.locales = {{ locales|json_encode|raw }};

                this.has_translation = function (item) {
                    return self.translations[item];
                };

                this.set_default = function (data) {
                    return data == self.default_lang ? data+"*" : data;
                };

                this.select_lang = function(item){
                    if(self.has_translation(item)){
                        self.current(item);
                    }
                };
            }

            var bindings = {
                active_lang: function(context) {
                    return { css: {active: context.$root.current() == context.$data} };
                },
                //this is an example of a binding tht is shared across scopes and fields
                select_lang_action: function(context) {
                    return { "click": context.$root.select_lang.bind(context.$data) };
                },
                iter_lang: function() {
                    return { foreach: this.locales };
                },
                lang_status: function(context) {
                    return { css: {'text-success': context.$data == context.$root.default_lang, stroke: !context.$root.has_translation(context.$data)} };
                },
                lang_text: function(context) {
                    return { text: context.$root.set_default(context.$data) };
                },
                content_name: function() {
                    return { text: this.translations[this.current()].name };
                },
                content_description: function() {
                    return { markdown: this.translations[this.current()].description };
                },
                content_note: function() {
                    return { markdown: this.translations[this.current()].note };
                },
                iter_categories: function() {
                    return { foreach: this.translations[this.current()].categories };
                },
                content_category: function(context) {
                    return { text: context.$data };
                }
            };

            ko.bindingProvider.instance = new ko.classBindingProvider(bindings);

            ko.applyBindings(new ViewModel());
        });

    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript' src='{{ asset("assets/js/markdown-it.min.js") }}'></script>
    <script type='text/javascript' src='{{ asset("assets/js/knockout.markdown.js") }}'></script>
{% endblock %}
