{% extends 'base_details.html.twig' %}
{% trans_default_domain "app"%}
{% set section = "rent.name" %}

{% block body %}

    <div class="container">

        <form action=""  method="post" id="form" class="form-horizontal">

            <input type="hidden" name="_csrf_token" value="{{ csrf_token(token) }}">
            <div class="row">
                {% if entity.id %}
                    <div class="col-xs-12">
                        <input name="publish" {{ entity.published ? "checked" : "" }} data-size="small" data-onstyle="success" data-offstyle="danger" type="checkbox" data-toggle="toggle" data-on="{{ "publish"|trans }}" data-off="{{ "unpublish"|trans }}">
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="host">{{ "host"|trans }}</label>
                            <input id="host" name="owner" class="form-control" type="text" value="{{ entity.owner ? entity.owner.id : 0 }}">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="customer_number">{{ "customer.number"|trans }}</label>
                            <input id="customer_number" name="customerNumber" class="form-control" type="text" value="{{ entity.customerNumber }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="name">{{ "accommodation_name"|trans }}</label>
                            <input id="name" name="name" class="form-control" type="text" value="{{ entity.name }}">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="rent_type">{{ "rent.type"|trans }}</label>
                            <input id="rent_type" name="rentType" class="form-control" type="text" value="{{ entity.rentType ? entity.rentType : 0 }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h2>Contacto</h2>
                <hr>
                <div class="col-xs-12">
                    <address>
                        <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label">{% trans %}form.email{% endtrans %}</label>
                            <div>
                                <p class="form-control-static">{{ entity.email|default('--') }}</p>
                            </div>
                        </div>
                        </div>
                        <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label">{% trans %}form.cell{% endtrans %}</label>
                            <div>
                                <p class="form-control-static">{{ entity.cell|default('--') }}</p>
                            </div>
                        </div>
                        </div>
                        <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label">{% trans %}form.land_number{% endtrans %}</label>
                            <div>
                                <p class="form-control-static">{{ entity.landNumber|default('--') }}</p>
                            </div>
                        </div>
                        </div>
                    </address>
                </div>
            </div>
            {% include ':admin/common:partial.address.html.twig' %}
            <div class="row">
                <div class="col-xs-6">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="check_in_time">{{ "form.destination"|trans }}</label>
                            <input id="check_in_time" name="checkInTime" class="form-control" type="text" value="{{ entity.destination }}">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="places_of_interest">{{ "places_of_interest"|trans }}</label>
                            <input id="places_of_interest" class="form-control" type="text" value="{{ entity.placesOfInterest }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="check_in_time">{{ "rent.check_in_time"|trans }}</label>
                            <input id="check_in_time" name="checkInTime" class="form-control" type="text" value="{{ entity.checkInTime }}">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="check_out_time">{{ "rent.check_out_time"|trans }}</label>
                            <input id="check_out_time" name="checkOutTime" class="form-control" type="text" value="{{ entity.checkOutTime }}">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="languages">{{ "rent.languages"|trans }}</label>
                            <input id="languages" name="languages" class="form-control" type="text" value="{{ entity.languages }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <br>
                <div class="col-xs-12 col-md-6">
                    <label for="rank">{{ "rank"|trans }}</label>
                    <input id="rank" name="adminRank" class="form-control" type="number" value="{{ entity.adminRank }}">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <br>
                    {% include ":admin/common:partial.language_tabs.html.twig" %}
                    <br>
                    <label for="description">{{ "form.content"|trans }}</label>
                    <textarea id="description" class="form-control" cols="30" rows="10" data-class="content_description"></textarea>
                    <p class="help-block">{{ "form.markdown_help"|trans }}</p>
                </div>
            </div>

            <div class="row">
                <h1>{{ "conditions"|trans }}</h1>
                <hr>
                {% for condition in conditions %}
                    <div class="col-xs-12 col-md-4">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <input type="checkbox" aria-label=".input_label">
                          </span>
                            <label class="form-control">{{ condition.name }}</label>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <h1>{{ "services"|trans }}</h1>
                <hr>
                {% for service in services %}
                    <div class="col-xs-12 col-md-4">
                        <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox" aria-label=".input_label">
                      </span>
                            <span class="input-group-addon">
                            <i class="glyphicon glyphicon-inbox"></i>
                        </span>
                            <span class="input-group-addon">
                            <label class="label" style="color: black">{{ service.name }}</label>
                        </span>
                            <input class="form-control text-right" type="number" min="0">
                            <span class="input-group-addon">
                            <label class="label" style="color: black">CUC</label>
                        </span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <h1>{{ "safety"|trans }}</h1>
                <hr>
                {% for _safety in safety %}
                    <div class="col-xs-12 col-md-4">
                        <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox" aria-label=".input_label">
                      </span>
                            <span class="input-group-addon">
                        <i class="glyphicon glyphicon-inbox"></i>
                      </span>
                            <label class="form-control">{{ _safety.name }}</label>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <h1>{{ "allows"|trans }}</h1>
                <hr>
                {% for allow in allows %}
                    <div class="col-xs-12 col-md-4">
                        <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox" aria-label=".input_label">
                      </span>
                            <span class="input-group-addon">
                        <i class="glyphicon glyphicon-inbox"></i>
                      </span>
                            <label class="form-control">{{ allow.name }}</label>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <hr>
                <div class="col-xs-12">
                    <label for="note">{{ "form.note"|trans }}</label>
                    <textarea id="note" class="form-control" cols="30" rows="10">{{ entity.note }}</textarea>
                    <p class="help-block">{{ "input.not_required"|trans }} -- {{ "form.markdown_help"|trans }}</p>
                </div>
            </div>

            <div class="row">
                <br>
                <div class="col-xs-12">
                    <button class="btn btn-default" data-class="submit_click" type="submit">{{ "Guardar"|trans }}</button>
                    <a href="{{ path("admin_accommodation_list") }}" class="btn btn-default">{{ "Cancelar"|trans }}</a>
                </div>
            </div>

            <div data-class="iter_data_submit">
                <input type="hidden" data-class="post_data_name content_name">
                <input type="hidden" data-class="post_data_description content_description">
                <input type="hidden" data-class="post_data_note content_note">
            </div>
        </form>

    </div>

    <script>
        $().ready(function () {
            function ViewModel() {
                var self = this;
                this.default_lang = {{ default_locale|json_encode|raw }};
                this.current = ko.observable(this.default_lang);

                this.locales = {{ locales|json_encode|raw }};
                this.has_translation = function (item) {
                    return _post_data[item];
                };

                this.description = ko.observable("");
                this.placeholder_description = ko.observable("");

                this.post_data = ko.observable([]);
                var _post_data = {{ form_data.translations|json_encode|raw }};

                this.get_name = function (data, field) {
                    return "translations[" + data.lang + "][" + field + "]";
                };

                this.set_default = function (data) {
                    return data == self.default_lang ? data+"*" : data;
                };

                var set_data = function() {
                    _post_data[self.current()] = {
                        lang: self.current(),
                        description: self.description()
                    };
                };

                var get_data = function() {
                    self.description(_post_data[self.current()] ? _post_data[self.current()]["description"] : "");
                    self.placeholder_description(_post_data[self.default_lang] ? _post_data[self.default_lang]["description"] : "");
                };

                this.select_lang = function(item){
                    set_data();

                    self.current(item);

                    get_data()
                };

                this.submit = function (event) {
                    set_data();

                    var data = [];
                    var objs = Object.values(_post_data);
                    for (var i = 0; i < objs.length; i++)
                    {
                        if (objs[i].lang)
                        {
                            data.push(objs[i]);
                        }
                    }

                    self.post_data(data);

                    return true;
                };

                get_data();
            }

            var bindings = {
                active_lang: function(context) {
                    return { css: {active: context.$root.current() == context.$data} };
                },
                //this is an example of a binding tht is shared across scopes and fields
                select_lang_action: function(context) {
                    return { "click": context.$root.select_lang.bind(context.$data) };
                },
                iter_lang: function() {
                    return { foreach: this.locales };
                },
                lang_status: function(context) {
                    return { css: {'text-success': context.$data == context.$root.default_lang} };
                },
                lang_text: function(context) {
                    return { text: context.$root.set_default(context.$data) };
                },
                content_description: function() {
                    return {value: this.description};
                },
                post_data_description: function(context) {
                    return { attr: {name: context.$root.get_name(context.$data, 'description')} };
                },
                iter_data_submit: function() {
                    return { foreach: this.post_data };
                },
                submit_click: function() {
                    return { click: this.submit };
                }
            };

            ko.bindingProvider.instance = new ko.classBindingProvider(bindings);

            ko.applyBindings(new ViewModel());

            {#$('#categories').selectize({#}
            {#plugins: ['restore_on_backspace', 'remove_button'],#}
            {#delimiter: ',',#}
            {#persist: false,#}
            {#maxItems: 3,#}
            {#valueField: 'id',#}
            {#labelField: 'name',#}
            {#searchField: ['name'],#}
            {#options: {{ form_data.categories | json_encode | raw }}#}
            {#});#}
        });

    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/selectize/selectize.min.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/js/selectize.min.js') }}"></script>
{% endblock %}