{% extends 'base.html.twig' %}
{% trans_default_domain "app" %}
{% set section = "rent.name" %}

{% block body %}

    <div class="container">
        <a href="{{ path('admin_accommodation_new') }}"><i class="main-action glyphicon glyphicon-plus"></i></a>
        <strong style="float: right"> {% transchoice items|length %} list_count {% endtranschoice %}</strong>
        <ul class="list-group">
            {% for item in items %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-md-8 truncate">
                            <div class="text-right" style="display: inline-block; margin-right: 20px">
                                <a href="{{ path('admin_accommodation_delete', {"id": item.id}) }}">
                                    <i class="glyphicon glyphicon-remove-circle" style="margin-left: 15px; font-size: 18px"></i>
                                </a>
                                <a href="{{ path('admin_accommodation_edit', {"id": item.id}) }}">
                                    <i class="glyphicon glyphicon-edit" style="margin-left: 15px; font-size: 18px"></i>
                                </a>
                            </div>
                            |
                            <div style="display: inline-block; margin-left: 20px">
                                <a class="{{ item.published ? "text-success" : "text-danger" }}" href="{{ path("admin_accommodation_show", {"id": item.id}) }}">
                                    {{ item.name }}
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 text-right" style="white-space: nowrap; overflow-x: auto; overflow-y: hidden;">
                            {% for locale, status in item.status|default([]) %}
                                <span class="label label-{{ status }}">{{ locale }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
