{% extends 'base.html.twig' %}
{% trans_default_domain "app" %}

{% block body %}
    <div class="container" style="padding-top: 3%;">
        <div class="row">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="col-md-12">
                <h1 class="text-center">
                    {% trans %}mensaje.inicio{% endtrans %}
                </h1>
            </div>
            {% endif %}

            {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="col-md-8">
                    <h1 class="text-center">
                        {% trans %}mensaje.inicio{% endtrans %}
                    </h1>
                </div>
                <div class="col-md-3" style="padding-left: 32px; border-left: 1px dashed rgba(239, 150, 1, 0.37);">
                    <aside class="sidebar-right">
                        <br>
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

                            <div class="input-group">
                                <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-user"></i></span>
                                <input required="required" name="_username" type="text" class="form-control" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" aria-describedby="sizing-addon1">
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-lock"></i></span>
                                <input required="required" name="_password" type="password" class="form-control" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" aria-describedby="sizing-addon2">
                            </div>

                            <div>
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                            </div>

                            <br>
                            <button class="btn btn-default" type="submit" name="_submit">{% trans %}Entrar{% endtrans %}</button>
                        </form>
                    </aside>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}
