{% extends '@Content/admin/place/base_details.html.twig' %}
{% trans_default_domain "app" %}

{% block body %}

    <div class="container">
        <div class="alert">
            <form action="{{ path("admin_place_delete", {"id": entity.id}) }}" method="post">
                <h1>
                    {% trans from "messages" %} message.delete.confirm {% endtrans %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token("delete_place") }}">
                </h1>

                <button class="btn btn-danger">{% trans %}Eliminar{% endtrans %}</button>
                <a href="{{ path("admin_place_list") }}" class="btn btn-default">{% trans %}Cancelar{% endtrans %}</a>
            </form>
        </div>
    </div>

    {{ parent() }}

{% endblock %}
