{% extends '@Content/admin/place/base_input.html.twig' %}
{% trans_default_domain "app" %}

{% block body %}

    {{ parent() }}

    <script>
        $().ready(function () {
            function ViewModel() {
                var self = this;
                this.default_lang = {{ form_data.default_locale|json_encode|raw }};
                this.current = ko.observable(this.default_lang);

                this.locales = {{ form_data.locales|json_encode|raw }};
                this.destinations = {{ form_data.destinations|json_encode|raw }};
                this.categories = {{ form_data.categories|json_encode|raw }};

                this.lat = ko.observable(0);
                this.lng = ko.observable(0);

                this.author = ko.observable("Nela");
                this.name = ko.observable("");
                this.description = ko.observable("");
                this.category = ko.observable({{ category_id }});
                this.destination = ko.observable({{ destination_id }});
                this.note = ko.observable("");
                this.placeholder_name = ko.observable("");
                this.placeholder_description = ko.observable("");

                this.post_data = ko.observable([]);
                var _post_data = {{ form_data.translations|json_encode|raw }};

                this.get_name = function (data, field) {
                    return "translations[" + data.lang + "][" + field + "]";
                };

                this.set_default = function (data) {
                    return data == self.default_lang ? data+"*" : data;
                };

                var set_data = function() {
                    _post_data[self.current()] = {
                        lang: self.current(),
                        author: self.author(),
                        name: self.name(),
                        description: self.description(),
                        note: self.note()
                    };
                };

                var get_data = function() {
                    self.author(_post_data[self.current()] && _post_data[self.current()]["author"] ? _post_data[self.current()]["author"] : "");

                    self.name(_post_data[self.current()] ? _post_data[self.current()]["name"] : "");
                    self.description(_post_data[self.current()] ? _post_data[self.current()]["description"] : "");
                    self.note(_post_data[self.current()] ? _post_data[self.current()]["note"] : "");

                    self.placeholder_name(_post_data[self.default_lang]["name"]);
                    self.placeholder_description(_post_data[self.default_lang]["description"]);
                };

                this.select_lang = function(item){
                    set_data();

                    self.current(item);

                    get_data()
                };

                this.submit = function (event) {
                    set_data();

                    var data = [];
                    var objs = Object.values(_post_data);
                    for (var i = 0; i < objs.length; i++)
                    {
                        if (objs[i].lang)
                        {
                            data.push(objs[i]);
                        }
                    }

                    self.post_data(data);

                    return true;
                };

                get_data();
            }

            var vm = new ViewModel();

            {% import ":partial:map.html.twig" as map %}
            {{ map.map(form_data.coordinates.lat, form_data.coordinates.lng, 1) }}

            ko.applyBindings(vm);
        });

    </script>
{% endblock %}
