{% extends '@Content/admin/base_details.html.twig' %}
{% trans_default_domain "app" %}
{% set section = "destinations" %}

{% block body %}
    <div class="container">
        <ul class="nav nav-tabs" id="languages" data-bind="foreach: locales">
            <li role="presentation" data-bind="css: {active: $root.current() == $data}, click: $root.select_lang.bind($data)">
                <a href="#" data-bind="css: {'text-success': $data == $root.default_lang}, text: $root.set_default($data)"></a>
            </li>
        </ul>
        <br>
        <form method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token(token) }}">
            <div class="row">
                <div class="col-xs-12">
                    <input name="publish" {{ entity.published ? "checked" : "" }} data-size="small" data-onstyle="success" data-offstyle="danger" type="checkbox" data-toggle="toggle" data-on="{{ "publish"|trans }}" data-off="{{ "unpublish"|trans }}">
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12 col-md-9">
                        <br>
                        <label for="title">{% trans %}form.name{% endtrans %}</label>
                        <input id="title" class="form-control" type="text" data-bind="value: name, attr: {placeholder: placeholder_name}">
                    </div>

                    <div class="col-xs-12 col-md-3">
                        <br>
                        <label for="author">{% trans %}form.author{% endtrans %}</label>
                        <input id="author" class="form-control" data-bind="value: author"/>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <br>
                        <label for="state">{% trans %}state{% endtrans %}</label>
                        <select id="state" name="state" class="form-control" data-bind="
                    value: state,
                    options: states,
                    optionsText: 'name',
                    optionsValue: 'id',
                    optionsCaption: ''">
                        </select>
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <br>
                        <label for="keywords">{% trans %}form.keywords{% endtrans %}</label>
                        <input id="keywords" class="form-control" type="text" data-bind="value: keywords, attr: {placeholder: placeholder_keywords}">
                    </div>

                    <div class="col-xs-12">
                        <br>
                        <label for="description">{% trans %}form.descrip{% endtrans %}</label>
                        <textarea id="description" class="form-control" cols="30" rows="10" data-bind="value: description, attr: {placeholder: placeholder_description}"></textarea>
                        <p class="help-block">{% trans %} form.markdown_help{% endtrans %}</p>

                        <br>
                        <label for="note">{% trans %}form.note{% endtrans %}</label>
                        <textarea id="note" class="form-control" cols="30" rows="10" data-bind="value: note"></textarea>
                        <p class="help-block">{% trans %}input.not_required{% endtrans %}. -- {% trans %} form.markdown_help{% endtrans %}</p>

                        <hr>

                        <br>
                        <div id="map" style="width:100%; height:300px"></div>
                        <input type="hidden" name="lat" id="lat" data-bind="value: lat">
                        <input type="hidden" name="lng" id="lng" data-bind="value: lng">

                        <br>
                        <button class="btn btn-default" type="submit" data-bind="click: submit">{% trans %}Guardar{% endtrans %}</button>
                        <a href="{{ path("admin_destination_list") }}" class="btn btn-default">{% trans %}Cancelar{% endtrans %}</a>
                    </div>
                </div>
            </div>

            <div data-bind="foreach: post_data">
                <input type="hidden" data-bind="attr: {name: $root.get_name($data, 'name')}, value: name">
                <input type="hidden" data-bind="attr: {name: $root.get_name($data, 'author')}, value: author">
                <input type="hidden" data-bind="attr: {name: $root.get_name($data, 'keywords')}, value: keywords">
                <input type="hidden" data-bind="attr: {name: $root.get_name($data, 'description')}, value: description">
                <input type="hidden" data-bind="attr: {name: $root.get_name($data, 'note')}, value: note">
            </div>
        </form>
    </div>
{% endblock %}
