{% extends '@Content/admin/base_details.html.twig' %}
{% trans_default_domain "app" %}
{% set section = "destinations" %}

{% block body %}
    <div class="container">
        {% include ":admin/common:partial.language_tabs.html.twig" %}

        <br>
        <article>
            <div class="row">
                <section class="col-xs-6 text-left" style="line-height: 1.42857143; font-weight: 700;" data-class="content_keywords"></section>
                <section class="col-xs-6 text-right" style="line-height: 1.42857143; font-weight: 700;">
                    {% trans %}form.author{% endtrans %}: <span data-class="author_text"></span>
                </section>
            </div>

            <div class="row">
                <br>
                <section class="col-xs-12 col-md-7">
                    <i class="glyphicon glyphicon-eye-{{ entity.published ? "open" : "close" }} publish_status {{ entity.published ? "text-success" : "text-danger" }}"></i>
                    <h2 class="form-control-static content_name" data-class="content_name"></h2>
                </section>
                <section class="col-xs-12 col-md-5 text-right">
                    <h4>
                    <span class="label label-info">
                        <i class="glyphicon glyphicon-map-marker"></i>
                        <span data-class="state_name"></span>
                    </span>
                    </h4>
                </section>
            </div>

            <section>
                <p data-class="content_description"></p>
            </section>
        </article>
        <br>
        <div id="map" style="width:100%; height:300px"></div>

        <hr>
        <p data-class="content_note"></p>
    </div>

    <script>
        $().ready(function () {
            {% import ":partial:map.html.twig" as map %}
            {{ map.map(entity.coordinates.lat, entity.coordinates.lng) }}

            function ViewModel() {
                var self = this;
                this.default_lang = {{ default_locale|json_encode|raw }};
                this.current = ko.observable(this.default_lang);
                this.translations = {{ form_data.translations|json_encode|raw }};
                this.locales = {{ locales|json_encode|raw }};
                this.has_translation = function (item) {
                    return self.translations[item];
                };

                this.set_default = function (data) {
                    return data == self.default_lang ? data+"*" : data;
                };

                this.select_lang = function(item){
                    if(self.has_translation(item)){
                        self.current(item);
                    }
                };
            }

            var bindings = {
                active_lang: function(context) {
                    return { css: {active: context.$root.current() == context.$data} };
                },
                //this is an example of a binding tht is shared across scopes and fields
                select_lang_action: function(context) {
                    return { "click": context.$root.select_lang.bind(context.$data) };
                },
                iter_lang: function() {
                    return { foreach: this.locales };
                },
                lang_status: function(context) {
                    return { css: {'text-success': context.$data == context.$root.default_lang, stroke: !context.$root.has_translation(context.$data)} };
                },
                lang_text: function(context) {
                    return { text: context.$root.set_default(context.$data) };
                },
                author_text: function() {
                    return { text: this.translations[this.current()].author };
                },
                content_name: function() {
                    return { text: this.translations[this.current()].name };
                },
                content_keywords: function() {
                    return { text: this.translations[this.current()].keywords };
                },
                content_description: function() {
                    return { markdown: this.translations[this.current()].description };
                },
                content_note: function() {
                    return { markdown: this.translations[this.current()].note };
                },
                destination_exist: function() {
                    return { "if": this.translations[this.current()].destination };
                },
                state_exist: function() {
                    return { "if": this.translations[this.current()].state };
                },
                state_name: function() {
                    return { text: this.translations[this.current()].state['name'] };
                }
            };


            ko.bindingProvider.instance = new ko.classBindingProvider(bindings);

            ko.applyBindings(new ViewModel());
        });
    </script>
{% endblock %}
