{% extends '@Content/admin/destination/base_details.html.twig' %}
{% trans_default_domain "app" %}

{% block body %}

    <div class="container">
        {% include ":admin/common:partial.top_actions.html.twig" with {
        "create_url": "admin_destination_new",
        "edit_url": "admin_destination_edit",
        "list_url": "admin_destination_list",
        "show_url": "admin_destination_show"} %}
    </div>

    {{ parent() }}
{% endblock %}
