{% extends '@Content/admin/destination/base_input.html.twig' %}
{% trans_default_domain "app" %}

{% block body %}

    {{ parent() }}

    <script>
        $().ready(function () {
            function ViewModel() {
                var self = this;
                this.default_lang = {{ form_data.default_locale|json_encode|raw }};
                this.current = ko.observable(this.default_lang);

                this.locales = {{ form_data.locales|json_encode|raw }};

                this.lat = ko.observable(0);
                this.lng = ko.observable(0);

                this.author = ko.observable("Nela");
                this.name = ko.observable("");
                this.keywords = ko.observable("");
                this.description = ko.observable("");
                this.note = ko.observable("");
                this.placeholder_name = ko.observable("");
                this.placeholder_description = ko.observable("");
                this.placeholder_keywords = ko.observable("");

                this.states = {{ form_data.states|json_encode|raw }};
                this.state = ko.observable(null);

                this.post_data = ko.observable([]);
                var _post_data = {};

                this.get_name = function (data, field) {
                    return "translations[" + data.lang + "][" + field + "]";
                };

                this.set_default = function (data) {
                    return data == self.default_lang ? data+"*" : data;
                };

                var set_data = function() {
                    _post_data[self.current()] = {
                        lang: self.current(),
                        author: self.author(),
                        name: self.name(),
                        keywords: self.keywords(),
                        description: self.description(),
                        note: self.note()
                    };
                };

                this.select_lang = function(item){
                    set_data();

                    self.current(item);

                    self.author(_post_data[self.current()] && _post_data[self.current()]["author"] ? _post_data[self.current()]["author"] : "");
                    self.author(!self.author() && self.current() == self.default_lang ? "Nela" : self.author());
                    self.author(!self.author() && self.current() == "en" ? "Richel" : self.author());

                    self.name(_post_data[self.current()] ? _post_data[self.current()]["name"] : "");
                    self.keywords(_post_data[self.current()] ? _post_data[self.current()]["keywords"] : "");
                    self.description(_post_data[self.current()] ? _post_data[self.current()]["description"] : "");
                    self.note(_post_data[self.current()] ? _post_data[self.current()]["note"] : "");

                    self.placeholder_name(_post_data[self.default_lang]["name"]);
                    self.placeholder_keywords(_post_data[self.default_lang]["keywords"]);
                    self.placeholder_description(_post_data[self.default_lang]["description"]);
                };

                this.submit = function (event) {
                    set_data();

                    var data = [];
                    var objs = Object.values(_post_data);
                    for (var i = 0; i < objs.length; i++)
                    {
                        if (objs[i].lang)
                        {
                            data.push(objs[i]);
                        }
                    }

                    self.post_data(data);

                    return true;
                }
            }

            var vm = new ViewModel();

            {% import ":partial:map.html.twig" as map %}
            {{ map.map(form_data.coordinates.lat|default(23.135285), form_data.coordinates.lng|default(-82.359591), 1) }}

            ko.applyBindings(vm);
        });

    </script>
{% endblock %}

{% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2cGKgpi0yxvI6ZiqVMghLOgMwf0jcAdQ"></script>
    <script type='text/javascript' src='{{ asset("assets/js/knockout.js") }}'></script>
{% endblock %}
