{% extends 'base.html.twig' %}
{% trans_default_domain "app" %}
{% set section = "users" %}

{% block javascripts %}
    <script type='text/javascript' src='{{ asset("assets/js/knockout.js") }}'></script>
    <script type='text/javascript' src='{{ asset("assets/js/knockout-classBindingProvider.min.js") }}'></script>
    <script type='text/javascript' src='{{ asset("assets/js/markdown-it.min.js") }}'></script>
    <script type='text/javascript' src='{{ asset("assets/js/knockout.markdown.js") }}'></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2cGKgpi0yxvI6ZiqVMghLOgMwf0jcAdQ"></script>
{% endblock %}
