{% macro map(lat, lng, setMark) %}
var styles = [{
    "featureType": "road.highway",
    "elementType": "all",
    "stylers": [{"hue": "#cc8110"}, {"lightness": -22}, {"gamma": 0.83}]
}, {
    "featureType": "administrative",
    "elementType": "labels.text.fill",
    "stylers": [{"color": "#444444"}]
}, {
    "featureType": "landscape",
    "elementType": "all",
    "stylers": [{"color": "#f2f2f2"}]
}, {
    "featureType": "road",
    "elementType": "geometry.fill",
    "stylers": [{"color": "#f5ae42"}, {"lightness": 17}]
}, {
    "featureType": "road",
    "elementType": "labels.text.fill",
    "stylers": [{"color": "#000000"}, {"weight": 1.06}, {"saturation": 28}]
}, {
    "featureType": "road.highway",
    "elementType": "all",
    "stylers": [{"visibility": "simplified"}]
}, {
    "featureType": "poi",
    "elementType": "geometry.fill",
    "stylers": [{"saturation": -35}, {"lightness": 51}]
}, {
    "featureType": "administrative",
    "elementType": "geometry.stroke",
    "stylers": [{"color": "#17307a"}, {"weight": 1.12}]
}, {
    "featureType": "road.arterial",
    "elementType": "geometry.fill",
    "stylers": [{"lightness": 45}]
}, {
    "featureType": "water",
    "elementType": "geometry.fill",
    "stylers": [{"color": "#00388c"}]
}, {"featureType": "water", "elementType": "labels.text", "stylers": [{"color": "#e3eaff"}]}];

var latlng = new google.maps.LatLng({{ lat|default(23.135285) }}, {{ lng|default(-82.359591) }});

{% if setMark %}
vm.lng(latlng.lng().toFixed(6));
vm.lat(latlng.lat().toFixed(6));

var myOptions = {
    zoom: 15,
    center: latlng,
    mapTypeControlOptions: {
        mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
    }
};
{% else %}
var myOptions = {
    zoom: 15,
    center: latlng,
    mapTypeControlOptions: {
        mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
    },
    scrollwheel: false
};
{% endif %}

// Create a new StyledMapType object, passing it the array of styles,
// as well as the name to be displayed on the map type control.
var styledMap = new google.maps.StyledMapType(styles, {name: "Styled Map"});
var map = new google.maps.Map(document.getElementById("map"), myOptions);

{% if setMark %}
google.maps.event.addListener(map, 'click', function(event) {
    marker.setPosition(event.latLng);
    vm.lng(event.latLng.lng().toFixed(6));
    vm.lat(event.latLng.lat().toFixed(6));
});
{% endif %}

var marker = new google.maps.Marker({
    map: map,
    position: latlng
});

//Associate the styled map with the MapTypeId and set it to display.
map.mapTypes.set('map_style', styledMap);
map.setMapTypeId('map_style');

google.maps.event.trigger(map, 'resize');
map.setCenter(latlng);

{% endmacro %}