{% trans_default_domain "app" %}

<nav class="navbar navbar-default" xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path("homepage") }}" style="padding: 0 29px 0 21px">
            <div id="navbar-logo"></div>
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        {% if is_granted("ROLE_ADMIN") %}
            <ul class="nav navbar-nav">
                <li>
                   <a href="{{ path('admin_user_list') }}">{{ "users"|trans }}</a>
                </li>
                <li>
                    <a href="{{ path('admin_destination_list') }}">{{ "Destinos"|trans }}</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ "Lugares"|trans }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('admin_place_list') }}">{{ "Lugares"|trans }}</a></li>
                        <li><a href="{{ path('admin_category_list', {"_category": "place"}) }}">{{ "categories"|trans }}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ "info"|trans }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('admin_infopage_list', {"pageType": "idea"}) }}">{{ "idea"|trans }}</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path('admin_infopage_list', {"pageType": "about-site"}) }}">{{ "about-site"|trans }}</a></li>
                        <li><a href="{{ path('admin_infopage_list', {"pageType": "to-do"}) }}">{{ "to-do"|trans }}</a></li>
                        <li><a href="{{ path('admin_infopage_list', {"pageType": "to-know"}) }}">{{ "to-know"|trans }}</a></li>
                        <li><a href="{{ path('admin_category_list', {"_category": "info"}) }}">{{ "categories"|trans }}</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{ path('admin_accommodation_list') }}">{{ "rent.name"|trans }}</a>
                </li>
                {% include ":partial:nav_bar.super_admin.menu.html.twig" %}
            </ul>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {{ app.request.getLocale()|capitalize }}
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {% for locale in locales %}
                        <li><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': locale})) }}">{{ locale|capitalize }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ app.user.username }}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {#<li><a href="{{ path("fos_user_profile_show") }}">{% trans %}Perfil{% endtrans %}</a></li>#}
                        <li><a href="{{ path("fos_user_change_password") }}">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</a></li>
                        {#<li role="separator" class="divider"></li>#}
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>