{% trans_default_domain "app" %}

{% if is_granted("ROLE_SUPER_ADMIN") %}

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ "rent.options"|trans }}<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li class="dropdown-header">{{ "rent.options"|trans }}</li>
            <li><a href="{{ path('admin_category_list', {"_category": "accommodation"}) }}">{{ "rent.type"|trans }}</a></li>
            <li><a href="{{ path('admin_category_list', {"_category": "accommodation-services"}) }}">{{ "rent.services"|trans }}</a></li>
            <li><a href="{{ path('admin_category_list', {"_category": "accommodation-options-conditions"}) }}">{{ "rent.conditions"|trans }}</a></li>
            <li><a href="{{ path('admin_category_list', {"_category": "accommodation-options-allows"}) }}">{{ "rent.allows"|trans }}</a></li>
            <li><a href="{{ path('admin_category_list', {"_category": "accommodation-options-safety"}) }}">{{ "rent.safety"|trans }}</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">{{ "room.options"|trans }}</li>
            <li><a href="{{ path('admin_category_list', {"_category": "room"}) }}">{{ "room.type"|trans }}</a></li>
            <li><a href="{{ path('admin_category_list', {"_category": "room-options-conditions"}) }}">{{ "room.conditions"|trans }}</a></li>
            <li><a href="{{ path('admin_category_list', {"_category": "room-options-safety"}) }}">{{ "room.safety"|trans }}</a></li>
            <li><a href="{{ path('admin_category_list', {"_category": "room-options-amenities"}) }}">{{ "room.amenities"|trans }}</a></li>
            <li><a href="{{ path('admin_category_list', {"_category": "bed"}) }}">{{ "room.beds"|trans }}</a></li>
            <li><a href="{{ path('admin_category_list', {"_category": "bath"}) }}">{{ "room.baths"|trans }}</a></li>
        </ul>
    </li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Super admin<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">{{ "Pagos"|trans }}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">{{ "countries"|trans }}</a></li>
            <li><a href="#">{{ "states"|trans }}</a></li>
            <li><a href="#">{{ "cities"|trans }}</a></li>
            <li><a href="#">{{ "authors"|trans }}</a></li>
            <li>
                {#
                  function runCommandAction($commandClass){
                    $command = new $commandClass();
                    $command->runCommand($this->get("service_container"));}
                #}
                <a href="#">{{ "commands"|trans }}</a>
            </li>
        </ul>
    </li>
{% endif %}