{% extends 'UserBundle:admin:base.html.twig' %}
{% trans_default_domain "app" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="customerNumber">{% trans %}form.customer{% endtrans %}</label>
                        <div>
                            <p class="control-label">{{ entity.customerNumber|default('--') }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label">{% trans %}form.username{% endtrans %}</label>
                <div>
                    <p class="form-control-static">{{ entity.username|default('--') }}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">{% trans %}form.name{% endtrans %}</label>
                <div>
                    <p class="form-control-static">{{ entity.name|default('--') }}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">{% trans %}form.lastname{% endtrans %}</label>
                <div>
                    <p class="form-control-static">{{ entity.lastName|default('--') }}</p>
                </div>
            </div>
        </div>
        <address class="col-xs-6">
            <div class="form-group">
                <label class="control-label">{% trans %}form.email{% endtrans %}</label>
                <div>
                    <p class="form-control-static">{{ entity.email|default('--') }}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">{% trans %}form.cell{% endtrans %}</label>
                <div>
                    <p class="form-control-static">{{ entity.cell|default('--') }}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">{% trans %}form.land_number{% endtrans %}</label>
                <div>
                    <p class="form-control-static">{{ entity.landNumber|default('--') }}</p>
                </div>
            </div>
        </address>
        {% include 'admin/common:partial.address.html.twig' %}
        <div class="row">
            <div class="col-xs-12">
                <hr>
                <p>{{ entity.note }}</p>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if entity.address %}
        <script type="application/javascript">
            {% import ":partial:map.html.twig" as map %}
            {{ map.map(entity.address.coordinates.lat|default(23.135285), entity.address.coordinates.lng|default(-82.359591), 0) }}
        </script>
    {% endif %}
{% endblock %}
