{% extends 'UserBundle:admin/user:base_details.html.twig' %}
{% trans_default_domain "app" %}

{% block body %}
    <div class="container">
        {% include ":admin/common:partial.top_actions.html.twig" with {
        "create_url": "admin_user_new",
        "edit_url": "admin_user_edit",
        "list_url": "admin_user_list",
        "show_url": "admin_user_show"} %}

        <br>
    </div>

    {{ parent() }}
{% endblock %}
