{% extends 'UserBundle:admin:base.html.twig' %}
{% trans_default_domain "app" %}

{% block body %}

    <div class="container">
        <br>

        <form action=""  method="post" id="form" class="form-horizontal">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token(token) }}">

            <div class="row">
                <div class="col-xs-6">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="customerNumber">{% trans %}form.customer{% endtrans %}</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                                <input id="customerNumber" name="customerNumber" class="form-control" type="text" data-class="verify_uniqueness set_custom_number">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="username">{% trans %}form.username{% endtrans %}</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="username" name="username" class="form-control" type="text" data-class="verify_uniqueness" value="{{ entity.username|default('') }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="name">{% trans %}form.name{% endtrans %}</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="name" name="name" class="form-control" type="text" required="required" value="{{ entity.name|default('') }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="lastName">{% trans %}form.lastname{% endtrans %}</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="lastName" name="lastName" class="form-control" type="text" value="{{ entity.lastName|default('') }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="email">{% trans %}form.email{% endtrans %}</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input id="email" name="email" class="form-control" type="email" data-class="verify_uniqueness" value="{{ entity.email|default('') }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="cell">{% trans %}form.cell{% endtrans %}</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                                <input id="cell" name="cell" class="form-control" type="tel" data-class="verify_uniqueness" value="{{ entity.cell|default('') }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="landNumber">{% trans %}form.land_number{% endtrans %}</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
                                <input id="landNumber" name="landNumber" class="form-control" type="tel" value="{{ entity.landNumber|default('') }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h2>{{ "address"|trans }}</h2>
                <hr>
                <div class="col-xs-6">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="address1">{% trans %}form.address1{% endtrans %}</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-road"></i></span>
                                <input id="address1" name="address[address1]" class="form-control" data-class="address1_value" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="zip">{% trans %}zip_code{% endtrans %}</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-qrcode"></i></span>
                                <input id="zip" name="address[zip]" type="text" class="form-control" data-class="input_enable" value="{{ entity.address.zip|default('') }}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="country">{% trans %}country{% endtrans %}</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                                <input id="country" type="text" class="form-control" disabled="disabled" value="Cuba" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="address2">{% trans %}form.address2{% endtrans %}</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                                <input id="address2" name="address[address2]" class="form-control" data-class="input_enable" value="{{ entity.address.address2|default('') }}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="state">{% trans %}state{% endtrans %}</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                                <select id="state" name="address[state]" class="form-control" data-class="input_enable state_select"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3" data-class="city_visibility">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="city">{% trans %}city{% endtrans %}</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                                <select id="city" name="address[city]" class="form-control" data-class="input_enable city_select"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" data-class="map_visibility">
                    <br>

                    <div id="map" style="width:100%; height:300px"></div>
                    <input type="hidden" name="address[coordinates][lat]" id="lat" data-class="lat_value">
                    <input type="hidden" name="address[coordinates][lng]" id="lng" data-class="lng_value">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <hr>
                    <div class="form-group">
                        <label class="control-label" for="note">{% trans %}form.note{% endtrans %}</label>
                        <textarea id="note" name="note" class="form-control">{{ entity.note|default('') }}</textarea>
                    </div>
                </div>

                <div class="col-xs-12">

                    <button class="btn btn-default" data-class="save_enabled" type="submit">{{ "Guardar"|trans }}</button>
                    <a href="{{ path("admin_user_list") }}" class="btn btn-default">{% trans %}Cancelar{% endtrans %}</a>
                </div>
            </div>
        </form>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="application/javascript">
        $().ready(function () {
            function ViewModel() {
                var self = this;
                var entity_id = {{ entity.id|default(0) }};

                this._field_error = {};
                this.field_errors = ko.observable(false);

                this.lat = ko.observable(0);
                this.lng = ko.observable(0);

                this.map_loaded = ko.observable(false);
                this.custom_number = ko.observable("{{ entity.customerNumber|default('') }}");

                this.states = {{ states_cities|json_encode|raw }};
                this.cities = ko.observable([]);
                this.address1 = ko.observable("{{ entity.address.address1|default('') }}");

                this.state = ko.observable("{{ entity.address.state|default('') }}");
                this.city = ko.observable("{{ entity.address.city|default('') }}");

                this.address_enabled = ko.computed(function () {
                    return self.address1();
                });

                this.map_visible = ko.computed(function () {
                    console.log(self.map_loaded());
                    return !self.map_loaded() || (self.map_loaded() && self.address1());
                });

                this.cities = ko.computed(function () {
                    if(!self.state())
                        return;

                    var state = self.states.filter(function (el) {
                        return el.name == self.state();
                    });

                    if (state.length)
                    {
                        return state[0].cities;
                    }
                    console.log(self.state());

                    return [];
                });

                this.set_errors = function(field, add)
                {
                    if(add){
                        self._field_error[field] = 1;
                    }
                    else
                    {
                        if(self._field_error[field]){
                            delete self._field_error[field]
                        }
                    }

                    var errors = Object.keys(self._field_error);
                    self.field_errors(errors.length);
                };

                this.verify_uniqueness = function (context, element) {
                    var $element = $(element.target);
                    var field = $element.attr("name");
                    var value = $element.val();

                    if (value)
                    {
                        if(field == "cell")
                            field = "cellNumber";

                        $.get("/api/v1/user/verify_uniqueness/" + entity_id + "/" + field + "/" + btoa(value), function (data) {
                            if (data.unique)
                            {
                                $element.parent().removeClass("has-error");
                                $element.parent().addClass("has-success");

                                $element.popover('destroy');

                                self.set_errors(field, false);
                            }
                            else
                            {
                                $element.parent().removeClass("has-success");
                                $element.parent().addClass("has-error");

                                var user_path = "{{ path("admin_user_list") }}" + data.user_id;

                                $element.popover({
                                    trigger: 'manual',
                                    html: true,
                                    placement: 'auto right',
                                    title: '{{ "form.duplicity"|trans }}',
                                    content: '{{ "form.customer"|trans }}: <a target="_blank" href="' + user_path + '">' + (data.customer_number || "--") + '</a>',
                                    container: 'body'
                                }).popover('show');

                                self.set_errors(field, true);
                            }
                        })
                    }
                    else
                    {
                        $element.parent().removeClass("has-error");
                        $element.parent().removeClass("has-success");

                        self.set_errors(field, false);
                    }
                }

            }

            var bindings = {
                verify_uniqueness: function (context) {
                    return {event: {
                        blur: this.verify_uniqueness.bind(context.$element)
                    }};
                },
                save_enabled: function () {
                    return {enable:
                            (!this.field_errors() && this.custom_number())
                    };
                },
                state_select: function (context) {
                    return {
                        value: this.state,
                        options: this.states,
                        optionsText: 'name',
                        optionsValue: 'name',
                        optionsCaption: ''
                    }
                },
                city_visibility: function () {
                    return {visible: this.cities}
                },
                set_custom_number: function () {
                    return {value: this.custom_number}
                },
                city_select: function () {
                    return {
                        value: this.city,
                        options: this.cities,
                        optionsText: 'name',
                        optionsValue: 'name',
                        optionsCaption: ''
                    }
                },
                address1_value: function () {
                    return {value: this.address1, valueUpdate: 'afterkeydown'};
                },
                input_enable: function () {
                    return {enable: this.address1};
                },
                map_visibility: function () {
                    return {visible: this.map_visible};
                },
                lat_value: function () {
                    return {value: this.lat};
                },
                lng_value: function () {
                    return {value: this.lng};
                }
            };

            ko.bindingProvider.instance = new ko.classBindingProvider(bindings);

            var vm = new ViewModel();

            {% import ":partial:map.html.twig" as map %}
            {{ map.map(entity.address.coordinates.lat|default(23.135285), entity.address.coordinates.lng|default(-82.359591), 1) }}

            google.maps.event.addListener(map, 'idle', function(event) {
                vm.map_loaded(true);
            });

            ko.applyBindings(vm);
        });
    </script>
{% endblock %}
