<ul class="nav nav-tabs" id="languages" data-class="iter_lang">
    <li role="presentation" data-class="active_lang select_lang_action">
        <a href="#" data-class="lang_status lang_text"></a>
    </li>
</ul>