<div class="row">
    <h2>{{ "address"|trans }}</h2>
    <hr>
    <address>
        <div class="col-xs-6">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label">{% trans %}form.address1{% endtrans %}</label>
                    <div>
                        <p class="form-control-static">{{ entity.address.address1|default('--') }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label">{% trans %}zip_code{% endtrans %}</label>
                    <div>
                        <p class="form-control-static">{{ entity.address.zip|default('--') }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label">{% trans %}country{% endtrans %}</label>
                    <div>
                        <p class="form-control-static">{{ entity.address.country|default('--') }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label">{% trans %}form.address2{% endtrans %}</label>
                    <div>
                        <p class="form-control-static">{{ entity.address.address2|default('--') }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label">{% trans %}state{% endtrans %}</label>
                    <div>
                        <p class="form-control-static">{{ entity.address.state|default('--') }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label">{% trans %}city{% endtrans %}</label>
                    <div>
                        <p class="form-control-static">{{ entity.address.city|default('--') }}</p>
                    </div>
                </div>
            </div>
        </div>
    </address>

    {% if entity.address %}
        <div class="col-xs-12">
            <br>
            <div id="map" style="width:100%; height:300px"></div>
        </div>
    {% endif %}
</div>
