
<div class="row main-action">
    <div class="col-xs-6 text-left" style="padding-left: 0">
        <a href="{{ path( list_url) }}" title="{% trans %}Lista{% endtrans %}">
            <i class="glyphicon glyphicon-list" style="font-size: 18px"></i>
        </a>
        <a href="{{ path( edit_url, {"id": entity.id}) }}" title="{% trans %}Editar{% endtrans %}">
            <i class="glyphicon glyphicon-edit" style="margin-left: 15px; font-size: 18px"></i>
        </a>
        <a href="{{ path( create_url ) }}" style="margin-left: 30px">
            <i class="main-action glyphicon glyphicon-plus"></i>
        </a>
    </div>

    {% if form_data|default(null) %}
        <div class="col-xs-6 text-right">
            {% if form_data.prev|default(0) %}
                <a href="{{ path( show_url, {"id": form_data.prev.id}) }}" title="{{ form_data.prev.name }}">
                    <i class="glyphicon glyphicon-arrow-left" style="font-size: 18px"></i>
                </a>
            {% endif %}
            {% if form_data.next|default(0) %}
                <a href="{{ path( show_url, {"id": form_data.next.id}) }}" title="{{ form_data.next.name }}">
                    <i class="glyphicon glyphicon-arrow-right" style="margin-left: 15px; font-size: 18px"></i>
                </a>
            {% endif %}
        </div>
    {% endif %}
</div>
