{% extends 'base_details.html.twig' %}
{% trans_default_domain "app" %}
{% set section = "categories" %}

{% block body %}
    <div class="container">
        {% include ":admin/common:partial.language_tabs.html.twig" %}
        <br>

        <div class="col-xs-6">
            {% if entity.useIcon %}
                <span class="{{ entity.icon }}" style="display: inline-block; font-size: 16px; margin-right: 5px"> </span>
            {% endif %}
            <div class="form-group" style="display: inline-block">
                <label class="control-label">{% trans %}form.name{% endtrans %}</label>
                <p class="form-control-static" data-class="content_name"></p>
            </div>
        </div>
    </div>

    <script>
        $().ready(function () {
            function ViewModel() {
                var self = this;
                this.default_lang = {{ default_locale|json_encode|raw }};
                this.current = ko.observable(this.default_lang);
                this.translations = {{ form_data.translations|json_encode|raw }};
                this.locales = {{ locales|json_encode|raw }};
                this.has_translation = function (item) {
                    return self.translations[item];
                };

                this.set_default = function (data) {
                    return data == self.default_lang ? data+"*" : data;
                };

                this.select_lang = function(item){
                    if(self.has_translation(item)){
                        self.current(item);
                    }
                };
            }

            var bindings = {
                active_lang: function(context) {
                    return { css: {active: context.$root.current() == context.$data} };
                },
                //this is an example of a binding tht is shared across scopes and fields
                select_lang_action: function(context) {
                    return { "click": context.$root.select_lang.bind(context.$data) };
                },
                iter_lang: function() {
                    return { foreach: this.locales };
                },
                lang_status: function(context) {
                    return { css: {'text-success': context.$data == context.$root.default_lang, stroke: !context.$root.has_translation(context.$data)} };
                },
                lang_text: function(context) {
                    return { text: context.$root.set_default(context.$data) };
                },
                content_name: function() {
                    return { text: this.translations[this.current()].name };
                }
            };

            ko.bindingProvider.instance = new ko.classBindingProvider(bindings);

            ko.applyBindings(new ViewModel());
        });

    </script>
{% endblock %}
