{% extends 'base_details.html.twig' %}
{% trans_default_domain "app"%}
{% set section = "categories" %}

{% block body %}

    <div class="container">
        {% include ":admin/common:partial.language_tabs.html.twig" %}
        <br>

        <form action=""  method="post" id="form" class="form-horizontal">

            <input type="hidden" name="_csrf_token" value="{{ csrf_token(token) }}">

            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="col-xs-12">
                        <section class="form-group">
                            <label class="control-label" for="name">{% trans %}form.name{% endtrans %}</label>
                            <input id="name" class="form-control" type="text" data-class="content_name">
                        </section>
                    </div>
                </div>
                {% if entity.useIcon %}
                <div class="col-xs-12 col-md-4">
                    <div class="col-xs-12">
                        <section class="form-group">
                            <label class="control-label" for="icon">{% trans %}form.icon{% endtrans %}</label>
                            <input id="icon" name="icon" class="form-control" type="text" value="{{ entity.icon }}">
                        </section>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-default" data-class="submit_click" type="submit">{{ "Guardar"|trans }}</button>
                    <a href="{{ path("admin_category_list", {"_category": category}) }}" class="btn btn-default">{% trans %}Cancelar{% endtrans %}</a>
                </div>
            </div>

            <div data-class="iter_data_submit">
                <input type="hidden" data-class="post_data_name content_name">
            </div>
        </form>

    </div>

    <script>
        $().ready(function () {
            function ViewModel() {
                var self = this;
                this.default_lang = {{ default_locale|json_encode|raw }};
                this.current = ko.observable(this.default_lang);

                this.locales = {{ locales|json_encode|raw }};
                this.has_translation = function (item) {
                    return _post_data[item];
                };

                this.name = ko.observable("");
                this.placeholder_name = ko.observable("");

                this.post_data = ko.observable([]);
                var _post_data = {{ form_data.translations|json_encode|raw }};

                this.get_name = function (data, field) {
                    return "translations[" + data.lang + "][" + field + "]";
                };

                this.set_default = function (data) {
                    return data == self.default_lang ? data+"*" : data;
                };

                var set_data = function() {
                    _post_data[self.current()] = {
                        lang: self.current(),
                        name: self.name()
                    };
                };

                var get_data = function() {
                    self.name(_post_data[self.current()] ? _post_data[self.current()]["name"] : "");

                    self.placeholder_name(_post_data[self.current()] ? _post_data[self.current()]["name"] : "");
                };

                this.select_lang = function(item){
                    set_data();

                    self.current(item);

                    get_data()
                };

                this.submit = function (event) {
                    set_data();

                    var data = [];
                    var objs = Object.values(_post_data);
                    for (var i = 0; i < objs.length; i++)
                    {
                        if (objs[i].lang)
                        {
                            data.push(objs[i]);
                        }
                    }

                    self.post_data(data);

                    return true;
                };

                get_data();
            }

            var bindings = {
                active_lang: function(context) {
                    return { css: {active: context.$root.current() == context.$data} };
                },
                //this is an example of a binding tht is shared across scopes and fields
                select_lang_action: function(context) {
                    return { "click": context.$root.select_lang.bind(context.$data) };
                },
                iter_lang: function() {
                    return { foreach: this.locales };
                },
                lang_status: function(context) {
                    return { css: {'text-success': context.$data == context.$root.default_lang} };
                },
                lang_text: function(context) {
                    return { text: context.$root.set_default(context.$data) };
                },
                content_name: function() {
                    return { value: this.name };
                },
                post_data_name: function(context) {
                    return { attr: {name: context.$root.get_name(context.$data, 'name')} };
                },
                iter_data_submit: function() {
                    return { foreach: this.post_data };
                },
                submit_click: function() {
                    return { click: this.submit };
                }
            };

            ko.bindingProvider.instance = new ko.classBindingProvider(bindings);

            ko.applyBindings(new ViewModel());
        });

    </script>
{% endblock %}
