{% extends 'base_details.html.twig' %}
{% trans_default_domain "app" %}

{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript' src='{{ asset("assets/js/markdown-it.min.js") }}'></script>
    <script type='text/javascript' src='{{ asset("assets/js/knockout.markdown.js") }}'></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2cGKgpi0yxvI6ZiqVMghLOgMwf0jcAdQ"></script>
{% endblock %}
